<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="File" name="f"
            fileName="${basedir}/logs/current.csv"
            layout="${message}"
            header="No,モータ1角度[度],モータ2角度[度],モータ3角度[度],モータ4角度[度],タッチセンサ,超音波センサ[cm],カラーセンサ(赤),カラーセンサ(緑),カラーセンサ(青),反射光,角位置[度],角速度[度/sec],バッテリ電流[mA],バッテリ電圧[mV],Lモータ出力[%],Rモータ出力[%],アームモータ出力[%],尻尾モータ角度[%],座標X[mm],座標Y[mm],角度[度],距離[mm]"
            archiveOldFileOnStartup="true"
            archiveFileName="${basedir}/logs/archives/archive{#}.csv"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="f" />
  </rules>
</nlog>